<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MantisConnectBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/mantisbt-1.3.20/api/soap/mantisconnect.php"
                binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding"
                contract="Mantis.MantisConnectPortType" name="MantisConnectPort" />
        </client>
    </system.serviceModel>
</configuration>